@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.custom-overlay {
  @apply border border-blue-300 bg-gray-50 rounded-xl border-opacity-10;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: black;
}

::selection {
  background-color: #f3f2fe;
  color: #6b8ede;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .video-container {
    max-width: 100%;
  }
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* custom styles for chat */

.from {
  @apply bg-accent p-2 rounded-xl inline text-accent-content rounded-tl-2xl my-2;
}

.to {
  @apply bg-base-200 p-2 rounded-xl inline text-base-content rounded-bl-2xl my-2;
}

.custom-label {
  @apply text-sm font-bold text-accent;
}

.custom-error {
  @apply text-sm font-bold text-error;
}

/* width */
.chat::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.chat::-webkit-scrollbar-track {
  @apply bg-base-100;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
  @apply bg-accent;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  @apply bg-warning;
}

textarea {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
