@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: black;
}

::selection {
  background-color: #f3f2fe;
  color: #6b8ede;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .video-container {
    max-width: 100%;
  }
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
